<div class="center jumbotron">

  <h1>Welcome to Gelysium</h1>

  <h2>
    A <b><i> new </i></b>way to connect.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <br>
  <br>
  <%= image_tag("connect.jpg", alt: "globe logo", class: "imageWorld") %>

</div>

