<% provide(:title, "About") %>
<h1>About me</h1>
<p>
  My name is Sean Gelb. I am a sophomore at Indiana University majoring in Information
  Systems and Accounting. Gelysium is my first fully functional website that uses the Ruby
  on Rails framework. From this project, I have furthered my knowledge in Ruby, JavaScript,
  CSS, HTML, and SQL. Additionally, I have gained a lot of insight on the inter-workings of how the internet
  functions from domain registration to HTTPS.
</p>