<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  If you have any questions about this website, please
  <a href="mailto:smgelbgithub@gmail.com">
    <strong>email</strong>
  </a>
  me.

  For any business inquiries, please add and message me on my
  <a href="https://www.linkedin.com/in/seangelb"> <strong> Linkedin</strong></a>.
</p>
